@charset "UTF-8";


main{
  text-align: center;
  font-family: var(--fonte1);
  color: var(--cortexto);
  font-family: 'Poppins', sans-serif;
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../image/obie-fernandez-KMDXqrESUuw-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 800px;  
}

div.banner>p{
  font-family: Adam;
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

div.banner>h1{
  font-family: Adam;
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  backdrop-filter: blur(2px) saturate(100%);
  padding: 30px;
}

div.banner>h2{
  font-family: Adam;
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}
  
.apresentacaoprodutos{
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.boxsobre{
  display: flex;
  align-items: center;
  background-color: blue;
  width: 30%;
  height: 500px;
  background-image: url(../image/postura.jpg);
  background-size: cover;
  background-position: left;
}

.backgroundverdesobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--corfundo);
  width: 80%;
  height: 40%;
  margin: 0px 20%;
  padding: 8px;
  font-family: monospace;
}

.backgroundverdesobre>h2{
  font-size: 1.8em;
  padding-bottom: 16px;
}

.backgroundverdesobre>a{
  font-size: 1.5em;
  text-decoration: none;
  color:var(--cortexto);
}

.backgroundverdesobre>a:hover{
  text-decoration: underline;
}

.produtos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--corfundo);
  width: 30%;
  height: 500px;
}

.produtos:hover{
  box-shadow: inset 0 0 3px 3px rgba(148, 148, 148, 0.158);
}

.produtos>h2{
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: 300;
  text-shadow: 1px 1px 4px rgba(0, 27, 0, 0.418);
}

.produtos>a{
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background-color: var(--cortexto);
  padding: 20px;
  border-radius: 3px;
  font-size: 1.2em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
}

.produtos>a:hover{
  background-color: white;
  color: var(--cortexto);
  padding: 25px;
  transition-duration: 0.5s;
  text-decoration: underline;
}

.fotopsc{
  background-image: url(../image/psc.jpg);
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 500px;
}
