@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --fonte1: 'Poppins', sans-serif;
  --cortexto: #285A5B;
  --corfundo: #D5EBDE;
}

main{
  text-align: center;
  font-family: var(--fonte1);
  color: var(--cortexto);
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../image/obie-fernandez-KMDXqrESUuw-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 800px;  
}

div.banner>p{
  font-family: Adam;
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

div.banner>h1{
  font-family: Adam;
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  backdrop-filter: blur(2px) saturate(100%);
  padding: 30px;
}

div.banner>h2{
  font-family: Adam;
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}
  
.apresentacaoprodutos{
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.boxsobre{
  background-color: blue;
  width: 30%;
  height: 500px;
  background-image: url(../image/postura.jpg);
  background-size: cover;
  background-position: left;
}

.backgroundverdesobre{
  background-color: var(--corfundo);
}

.produtos{
  background-color: purple;
  width: 30%;
  height: 500px;
}

.fotopsc{
  background-image: url(../image/psc.jpg);
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 500px;
}
