@charset "UTF-8";

main{
    text-align: center;
}

.maintopo>h1{
    font-size: 2.6em;
    font-family: var(--fonte1);
    margin-bottom: 32px;
}

.maintopo>h2{
    font-size: 1.6em;
    font-family: var(--fonte1);
}

section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1100px;
    margin: auto;
    margin-top: 48px;
}

.imagem{
    width: 300px;
    height: 300px;
    background-color: blue;
}

.imagem:hover{
    background-color: red;
}

.tagraca>p{
    background-color: var(--corfundo);
    text-align: center;
    width: 30%;
}

.containerraca{
    text-align: left;
    margin: 15px;
    font-size: 1em;
    margin-top: 16px;
}

.containerraca>p{
    margin-top: 8px;
    font-weight: bold;
}