@charset "UTF-8";

main{
    width: 1700px;
    margin: auto;
}

.bannersobrenos{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--corfundo);
}

.txtbannersobrenos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 650px;
}

.txtbannersobrenos>h1{
    margin-bottom: 16px;
}

.txtbannersobrenos>h2{
    margin-bottom: 40px;
}

.txtbannersobrenos>p{
    margin-bottom: 16px;
    font-size: 1.2em;
    width: 500px;
}

.imgbannersobrenos{
    background-image: url(../image/postura.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 650px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}