@charset "UTF-8";

main{
    max-width: 90%;
    margin: auto;
}

.bannersobrenos{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--corfundo);
}

.txtbannersobrenos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 650px;
}

.txtbannersobrenos>h1{
    margin-bottom: 16px;
}

.txtbannersobrenos>h2{
    margin-bottom: 40px;
}

.txtbannersobrenos>p{
    margin-bottom: 16px;
    font-size: 1.2em;
    width: 500px;
}

.imgbannersobrenos{
    background-image: url(../image/postura.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 650px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

article>img{
    padding: 48px 0px;
}

article>h1{
    font-size: 2.5em;
    padding-bottom: 48px;
}

article>p{
    padding-bottom: 16px;
    font-size: 1.2em;
    text-align: center;
    max-width: 50%;
}

.bannersobrenosinferior{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--corfundo);
    margin-top: 40px;
    height: 650px;
}

.contsobrenosinferior{
    width: 50%;
}
.imgsobrenosinferior{
    background-image: url(../image/Pintinhoembrapa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: contain;
    width: 100%;
    height: 650px;
}

.txtsobrenosinferior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.txtsobrenosinferior>h3{
    margin-bottom: 80px;
    font-size: 2.5em;
}

.txtsobrenosinferior>p{
    margin-bottom: 16px;
    font-size: 1.4em;
    width: 500px;
}