@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --fonte1: 'Poppins', sans-serif;
  --cortexto: #285A5B;
  --corfundo: #D5EBDE;
}

/* cores 
Verde para fontes #285A5B
Verde para fundos #D5EBDE
*/

body, html{
  width: 100%;
  height: 100vh;
}

header{
  height: 104px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 8px 20%;
}

header>img{
  width: auto;
  height: 100%;
} 


nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>a{
  text-decoration: none;
  color: #285A5B;
  padding: 15px;
}

.banner{
  background-image: url(../header.jpg);
  width: 100%;
  height: 60%;
}