@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --fonte1: 'Poppins', sans-serif;
  --cortexto: #285A5B;
  --corfundo: #D5EBDE;
}

/* cores 
Verde para fontes #285A5B
Verde para fundos #D5EBDE
*/

body, html{
  width: 100%;
  height: 100vh;
}

header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 104px;
  width: 100%;
  padding: 8px 10%;
}

header>img{
  height: 100%;
} 

header>a{
  text-decoration: none;
  color: #285A5B;
  padding: 15px;
}

.banner{
  background-image: url(../header.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
}

.banner>h1,h2,p{
  color: white;
  font-size: 2em;
  text-align: center;
}