@charset "UTF-8";

main{
    max-width: 50%;
}

menu li{
    display: inline-block;
}

ul>a{
    border: 1px solid black;
    background-color: rgb(60, 60, 60);
}

li{
    color: white;
    font-size: 0.8em;
    background-color: rgb(60, 60, 60);
    margin: 0px;
}

